<%- include("../partials/header")%>

    <table id="list">
        <thead>
            <tr>
                <th>
                    List of Decks
                </th>
            </tr>
        </thead>
        <tbody>
            <% decks.forEach( function(d) { %>
                <tr>
                    <h3>
                        <%= d.name %>
                    </h3>
                    <td>
                        <img src=<%=d.picture %> alt="deck image" width="200">
                    </td>
                    <td>

                    </td>
                    <td> <a href="/decks/<%= d._id %>"> DETAILS</a> </td>

                </tr>
                <% }); %>
        </tbody>
    </table>




    <%- include("../partials/footer")%>