<%- include("../partials/header")%>

    <section id="show-page">
        <div>Deck Name: <%= deck.name %>
        </div>
        <div>Design Company: <%= deck.company %>
        </div>
        <div>Production Company: <%= deck.producer %>
        </div>
        <div>Description:</div>
        <div>
            <%= deck.desc %>
        </div>
        <% if(user && user._id.equals(deck.user)) { %>

            <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE DECK</button>
            </form>

            <% } %>

    </section>


    <%- include("../partials/footer")%>