<%- include("../partials/header")%>

    <section id="show-page">
        <div>
            <%= deck.name %>
        </div>
        <div>Design Company: </div>
        <div>
            <%= deck.company %>
        </div>
        <div>Production Company: </div>
        <div>
            <%= deck.producer %>
        </div>
        <div>
            <%= deck.desc %>
        </div>

    </section>


    <%- include("../partials/footer")%>